/*
Open Source Gehaltsrechner CSS Style
*/

body {
	color: #444;
	font-family: 'trebuchet MS', 'Lucida sans', Arial;
}

h2, h3 {
	margin-bottom: 5px
}

.bordered {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	width: 100%;
	font-size: 15px;
}

.bordered {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc; 
	-moz-box-shadow: 0 1px 1px #ccc; 
	box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
	background: #E0E5FA;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;     
}    
	
.bordered td, .bordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 0px 5px;
}

.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered th:only-child{
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.round {
	border: 1px solid grey;
	border-spacing: 0;
	border-radius: 10px;
}
.number{
	text-align:right;
	padding: 0 10px !important;
}
.berechnung{
	padding-left: 10px;
}
.hidden{
	display: none;
	visibility: hidden;
}
#nettogehalt_arbeitnehmer {
	padding: 3px;
	background-color: #FFFF80;
	font-weight: bold;
}
.parteieninfos {
	padding-bottom: 10px;
}
#footer{
	padding-top: 80px;
	text-align: right;
	vertical-align: middle;
}
#footer img{
	vertical-align:middle;
}
#datainput {
	width: 100%;
	padding-bottom: 15px;
}
.inputlabel {
	text-align:right !important;
	padding-right: 10px;
}
.inputvalue {
	text-align:left !important;
}